<ul class="list-inline intro-social-buttons">
  <!-- <li><a href="status.html" class="btn btn-default btn-lg"><i class="fa fa-spinner"></i> <span class="network-name">Status</span></a> -->
  <li><a href="data.html" class="btn btn-default btn-lg"><i class="fa fa-folder"></i> <span class="network-name">Data</span></a>
  <li><a href="table.html" class="btn btn-default btn-lg"><i class="fa fa-th-list"></i> <span class="network-name">Table</span></a>
  <li><a href="stamps.html" class="btn btn-default btn-lg"><i class="fa fa-picture-o"></i> <span class="network-name">Gallery</span></a>
  <li><a href="people.html" class="btn btn-default btn-lg"><i class="fa fa-child"></i> <span class="network-name">People</span></a>
</ul>
