div
  form(class="form-inline", role="form")
    div.form-group
      input(class="form-control", id="gal_lon", placeholder="l")
    div.form-group
      input(class="form-control", id="gal_lat", placeholder="b")
    button(type="button", class="btn btn-default", onclick="gallery_panto()") Pan To
