head
    meta(charset="utf-8")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="/css/bootstrap.css", rel="stylesheet")

    script(type="text/javascript", src="/js/jquery-1.10.2.js")
    script(type="text/javascript", src="/js/bootstrap.js")

    include header_font.html

    // Add custom CSS here
    link(href="/css/landing-page.css", rel="stylesheet")

    
    block layout_extra_header
