head
    meta(charset="utf-8")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title UWIFE : UKIRT Widefield Infrared survey for Fe+
    link(rel="canonical" href="http://gems0.kasi.re.kr/uwife/")

    meta(name="description", content="UWIFE : Ukirt Widefield Infrared survey for Fe+")
    meta(name="author", content="Jae-Joon Lee and GEMS0 team")

    link(href="/css/bootstrap.css", rel="stylesheet")

    script(type="text/javascript", src="/js/jquery-1.10.2.js")
    script(type="text/javascript", src="/js/bootstrap.js")

    include header_font.html

    // Add custom CSS here
    link(href="/css/landing-page.css", rel="stylesheet")

    include google_analytics.html
    
    block layout_extra_header
