      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4 class="panel-title collapse-head"
	      data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            UWIFE & UWISH2 Mosaic
	  </h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in">
	  <div class="panel-body" id="gallery-help">
            <ul>
	      <li> RGB composite mosaics of <font color="red">H2</font>, <font color="green">[Fe II]</font> and <font color="blue">J</font></li>
	      <li> Pan : <b>mouse drag</b> or <b>arrow keys</b></li>
	      <li> Zoom in : <b>double click</b>, <b>mouse wheel up</b> or <b>+ key</b></li>
	      <li> Zoom out : <b>mouse wheel down</b> or <b>- key</b></li>
	      <li> fullscreen mode : <b>button at top-right corner</b></li>
	  </div>
	</div>
      </div>

