extends _layouts/root_base

block layout_content

  div.content-section-a
    div.container
      div.row
        div(class="col-lg-12 col-sm-12")
          hr.section-heading-spacer
          div.clearfix
          h2.section-heading Survey Team Members

          div(class="alert alert-info") Contact Jae-Joon Lee (leejjoon@kasi.re.kr) for any inquiry.


          div.table-responsive
            table(class="table table-hover")
              tr
                th Name
                th Institution
              tr
                td Jae-Joon Lee
                td KASI
              tr
                td Bon-Chul Koo
                td SNU
              tr
                td Yong-Hyun Lee
                td SNU
              tr
                td Ho-Gyu Lee
                td KASI
              tr
                td Jong-Ho Shinn
                td KASI
              tr
                td Hyun-Jeong Kim
                td SNU
              tr
                td Yesol Kim
                td SNU
              tr
                td Tae-Soo Pyo
                td Subaru
              tr
                td Dae-Sik Moon
                td Toronto
              tr
                td Ho-Gyu Lee
                td KASI
              tr
                td Moo-Young Chun
                td KASI
              tr
                td Dirk Froebrich
                td The University of Kent
              tr
                td Chris J. Davis
                td Liverpool John Moores University
              tr
                td Watson P. Varricatt
                td Joint Astronomy Centre
              tr
                td Jaemann Kyeong
                td KASI
              tr
                td Narae Hwang
                td KASI
              tr
                td Byeong-Gon Park
                td KASI
