extends _layouts/root_base

block layout_content

  div.content-section-a
    div.container
      div.row
        div(class="col-lg-12 col-sm-12")
          div.page-header
            h1 Publications

          h3.section-heading Papers


          div.media
            // a.pull-left(href="#")
            //   img.media-object(src="...", alt="...")
            div.media-body
              h4.media-heading 
                span(class="label label-primary") Survey Paper
                &nbsp; UKIRT Widefield Infrared Survey for Fe<sup>+</sup> 

              p.
               Jae-Joon Lee, Bon-Chul Koo, Yong-Hyun Lee, Ho-Gyu Lee,
               Jong-Ho Shinn, Hyun-Jeong Kim, Yesol Kim, Tae-Soo Pyo,
               Dae-Sik Moon, Sung-Chul Yoon, Moo-Young Chun, Dirk Froebrich,
               Chris J. Davis, Watson P. Varricatt, Jaemann Kyeong, Narae Hwang,
               Byeong-Gon Park, Myung Gyoon Lee, Hyung Mok Lee, Masateru Ishiguro
              h6
                span MNRAS, 2014, accepted &nbsp;
                a(href="/static/uwife_survey_paper_20140617.pdf", role="button", class="btn btn-default btn-xs") PDF
                a(href="http://arxiv.org/abs/1406.4271", role="button", class="btn btn-default btn-xs") arXiv
                a(href="#", role="button", class="btn btn-default btn-xs", disabled="disabled") ADS


