extends _layouts/table_base

block layout_extra_header
  script(type="text/javascript", src="/js/angular.min.js")
  script(type="text/javascript", src="/js/angular-route.min.js")

  script(type="text/javascript", src="/js/underscore-min.js")
  script(type="text/javascript", src="/js/underscore.string.min.js")
  script(type="text/javascript") _.mixin(_.str.exports())

  script(type="text/javascript", src="/js/table/list.js")

  link(rel="stylesheet", href="/js/ladda/ladda-themeless.min.css")
  script(src="/js/ladda/spin.min.js")
  script(src="/js/ladda/ladda.min.js")

block layout_content
  include _layouts/table_go.html

  div.content-section-a
    div(ng-controller="tableRootCtrl")
      div.container
        div.row
          div(class="col-lg-12 col-sm-12")
            hr.section-heading-spacer
            div.clearfix
            h2.section-heading Survey Identification Table
            object(type="image/svg+xml", data="/img/uwife_id_map_v2.svg")
        // div.row
      p
      div.container
        form.form-inline(role="form")
            div.form-group
              // span.input-group-addon Query
              label.sr-only(for="query_lon") Longitude
              input(type="text", id="query_lon", class="form-control", ng-model="lon", placeholder="l")
            div.form-group
              label.sr-only(for="query_lat") Latitude
              input(type="text", id="query_lat", class="form-control", ng-model="lat", placeholder="b")
            div.form-group
              label.sr-only(for="query_size") Box Size
              input(type="text", id="query_size", class="form-control", ng-model="size", placeholder="Search Box size in deg.")
            // buttonspan.input-group-btn
            button(class="btn btn-default ladda-button", id="query_btn", data-style="slide-up", data-spinner-color="#FF0000", type="button", ng-click="do_query()") 
              span.ladda-label Search
            button(class="btn btn-warning", type="button", ng-click="clear_query()") Clear

        div.table-responsive
          table(class="table table-hover")
            tr(ng-repeat="row in filtered_list.value")
              td msbid= {[{ row.msbid }]}
              td seq= {[{ row.seq }]}
              td chipid= {[{ row.chipid }]}

      div.container
        div(ng-view)
